In [1]:
!apt-get update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-2.3.1/spark-2.3.1-bin-hadoop2.7.tgz
!tar xf spark-2.3.1-bin-hadoop2.7.tgz
!pip install -q findspark

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:3 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Hit:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Ign:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:6 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [697 B]
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:9 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:11 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:12 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:13 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,353 kB]
Get:14 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [1,748 kB]
Ign:16 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages
Get:16 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [405 kB]
Get:17 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,165 kB]
Get:18 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,118 kB]
Fetched 8,046 kB in 3s (2,846 kB/s)
Reading package lists... Done

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.3.1-bin-hadoop2.7"

In [3]:
import findspark
findspark.init()
from pyspark import SparkContext
sc = SparkContext.getOrCreate()

In [4]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [27]:
from google.colab import files
files.upload()

Saving data.csv to data (4).csv

{'data.csv': b'Pays;2005;2006;2007;2008;2009;2010;2011;2012;2013;2014;2015;2016;2017;2018\r\nAllemagne;7,2;8,5;10,1;10,1;10,9;11,7;12,5;13,6;13,8;14,4;14,9;14,9;15,5;16,5\r\nAutriche;24,4;26,3;28,2;28,9;31;31,2;31,6;32,7;32,8;33,7;33,5;33,4;33,1;33,4\r\nBelgique;2,3;2,6;3,1;3,6;4,7;5,6;6,3;7,2;7,5;8;8;8,7;9,1;9,4\r\nBulgarie;9,2;9,4;9,1;10,3;12;13,9;14,2;15,8;18,9;18,1;18,3;18,8;18,7;20,5\r\nChypre;3,1;3,3;4;5,1;5,9;6,2;6,3;7,1;8,5;9,2;9,9;9,9;10,5;13,9\r\nCroatie;23,7;22,7;22,2;22;23,6;25,1;25,4;26,8;28;27,8;29;28,3;27,3;28\r\nDanemark;16;16,3;17,7;18,5;20;21,9;23,4;25,5;27,2;29,3;30,8;31,8;34,7;35,7\r\nEspagne;8,4;9,1;9,7;10,7;13;13,8;13,2;14,3;15,3;16,1;16,2;17,4;17,6;17,5\r\nEstonie;17,4;16;17;18,6;22,9;24,6;25,3;25,5;25,3;26,1;28,2;28,7;29,1;30\r\nFinlande;28,8;30,1;29,6;31,4;31,3;32,4;32,8;34,4;36,7;38,8;39,3;39;40,9;41,2\r\nFrance;9,6;9,3;10,2;11,2;12,2;12,7;(1) 12,7;13,4;14;14,6;15;15,7;16;16,6\r\nGr\xe8ce;7,3;7,5;8,2;8,2;8,7;10,1;11,2;13,7;15,3;15,7;15,7;15,4;17;18\r\nHongrie;6,9;7,4;8,6;8,6;11,7;12,7;14;15,5;16,2;14,6;14,5;14,3;13,5;12,5\r\nIrlande;2,8;3;3,5;3,9;5,2;5,7;6,6;7,1;7,6;8,6;9,1;9,3;10,6;11,1\r\nItalie;7,5;8,3;9,8;11,5;12,8;13;12,9;15,4;16,7;17,1;17,5;17,4;18,3;17,8\r\nLettonie;32,3;31,1;29,6;29,8;34,3;30,4;33,5;35,7;37;38,6;37,5;37,1;39;40,3\r\nLituanie;16,8;16,9;16,5;17,8;19,8;19,6;19,9;21,4;22,7;23,6;25,8;25,6;26;24,4\r\nLuxembourg;1,4;1,5;2,7;2,8;2,9;2,9;2,9;3,1;3,5;4,5;5,1;5,4;6,3;9,1\r\nMalte;0,1;0,1;0,2;0,2;0,2;1;1,9;2,9;3,8;4,7;5,1;6,2;7,3;8\r\nPays-Bas;2,5;2,8;3,3;3,6;4,3;3,9;4,5;4,7;4,7;5,4;5,7;5,8;6,5;7,4\r\nPologne;6,9;6,9;6,9;7,7;8,7;9,3;10,3;10,9;11,4;11,5;11,7;11,3;11;11,3\r\nPortugal;19,5;20,8;21,9;22,9;24,4;24,2;24,6;24,6;25,7;29,5;30,5;30,9;30,6;30,3\r\nR\xe9publique tch\xe8que;7,1;7,4;7,9;8,7;10;10,5;10,9;12,8;13,9;15,1;15,1;14,9;14,8;15,2\r\nRoumanie;17,6;17,1;18,2;20,2;22,2;22,8;21,2;22,8;23,9;24,8;24,8;25;24,5;23,9\r\nRoyaume-Uni;1,1;1,3;1,6;2,7;3,3;3,8;4,3;4,4;5,5;6,7;8,3;9;9,7;11\r\nSlovaquie;6,4;6,6;7,8;7,7;9,4;9,1;10,3;10,5;10,1;11,7;12,9;12;11,5;11,9\r\nSlov\xe9nie;16;15,6;15,6;15;20,1;20,4;20,3;20,8;22,4;21,5;21,9;21,3;21,1;21,1\r\nSu\xe8de;40,7;42,4;43,9;44,7;47,9;47;48,2;50,2;50,8;51,9;53;53,4;54,2;54,6\r\n'}

In [30]:
df = spark.read.option("delimiter", ";").csv('data.csv',header=True)
type(df)

pyspark.sql.dataframe.DataFrame

In [31]:
df.show(5)

+---------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|     Pays|2005|2006|2007|2008|2009|2010|2011|2012|2013|2014|2015|2016|2017|2018|
+---------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|Allemagne| 7,2| 8,5|10,1|10,1|10,9|11,7|12,5|13,6|13,8|14,4|14,9|14,9|15,5|16,5|
| Autriche|24,4|26,3|28,2|28,9|  31|31,2|31,6|32,7|32,8|33,7|33,5|33,4|33,1|33,4|
| Belgique| 2,3| 2,6| 3,1| 3,6| 4,7| 5,6| 6,3| 7,2| 7,5|   8|   8| 8,7| 9,1| 9,4|
| Bulgarie| 9,2| 9,4| 9,1|10,3|  12|13,9|14,2|15,8|18,9|18,1|18,3|18,8|18,7|20,5|
|   Chypre| 3,1| 3,3|   4| 5,1| 5,9| 6,2| 6,3| 7,1| 8,5| 9,2| 9,9| 9,9|10,5|13,9|
+---------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
only showing top 5 rows

In [32]:
df.count()

28

In [33]:
len(df.columns)

15

In [35]:
df.take(2)

[Row(Pays='Allemagne', 2005='7,2', 2006='8,5', 2007='10,1', 2008='10,1', 2009='10,9', 2010='11,7', 2011='12,5', 2012='13,6', 2013='13,8', 2014='14,4', 2015='14,9', 2016='14,9', 2017='15,5', 2018='16,5'),
 Row(Pays='Autriche', 2005='24,4', 2006='26,3', 2007='28,2', 2008='28,9', 2009='31', 2010='31,2', 2011='31,6', 2012='32,7', 2013='32,8', 2014='33,7', 2015='33,5', 2016='33,4', 2017='33,1', 2018='33,4')]

In [36]:
df.collect()

[Row(Pays='Allemagne', 2005='7,2', 2006='8,5', 2007='10,1', 2008='10,1', 2009='10,9', 2010='11,7', 2011='12,5', 2012='13,6', 2013='13,8', 2014='14,4', 2015='14,9', 2016='14,9', 2017='15,5', 2018='16,5'),
 Row(Pays='Autriche', 2005='24,4', 2006='26,3', 2007='28,2', 2008='28,9', 2009='31', 2010='31,2', 2011='31,6', 2012='32,7', 2013='32,8', 2014='33,7', 2015='33,5', 2016='33,4', 2017='33,1', 2018='33,4'),
 Row(Pays='Belgique', 2005='2,3', 2006='2,6', 2007='3,1', 2008='3,6', 2009='4,7', 2010='5,6', 2011='6,3', 2012='7,2', 2013='7,5', 2014='8', 2015='8', 2016='8,7', 2017='9,1', 2018='9,4'),
 Row(Pays='Bulgarie', 2005='9,2', 2006='9,4', 2007='9,1', 2008='10,3', 2009='12', 2010='13,9', 2011='14,2', 2012='15,8', 2013='18,9', 2014='18,1', 2015='18,3', 2016='18,8', 2017='18,7', 2018='20,5'),
 Row(Pays='Chypre', 2005='3,1', 2006='3,3', 2007='4', 2008='5,1', 2009='5,9', 2010='6,2', 2011='6,3', 2012='7,1', 2013='8,5', 2014='9,2', 2015='9,9', 2016='9,9', 2017='10,5', 2018='13,9'),
 Row(Pays='Croatie', 2005='23,7', 2006='22,7', 2007='22,2', 2008='22', 2009='23,6', 2010='25,1', 2011='25,4', 2012='26,8', 2013='28', 2014='27,8', 2015='29', 2016='28,3', 2017='27,3', 2018='28'),
 Row(Pays='Danemark', 2005='16', 2006='16,3', 2007='17,7', 2008='18,5', 2009='20', 2010='21,9', 2011='23,4', 2012='25,5', 2013='27,2', 2014='29,3', 2015='30,8', 2016='31,8', 2017='34,7', 2018='35,7'),
 Row(Pays='Espagne', 2005='8,4', 2006='9,1', 2007='9,7', 2008='10,7', 2009='13', 2010='13,8', 2011='13,2', 2012='14,3', 2013='15,3', 2014='16,1', 2015='16,2', 2016='17,4', 2017='17,6', 2018='17,5'),
 Row(Pays='Estonie', 2005='17,4', 2006='16', 2007='17', 2008='18,6', 2009='22,9', 2010='24,6', 2011='25,3', 2012='25,5', 2013='25,3', 2014='26,1', 2015='28,2', 2016='28,7', 2017='29,1', 2018='30'),
 Row(Pays='Finlande', 2005='28,8', 2006='30,1', 2007='29,6', 2008='31,4', 2009='31,3', 2010='32,4', 2011='32,8', 2012='34,4', 2013='36,7', 2014='38,8', 2015='39,3', 2016='39', 2017='40,9', 2018='41,2'),
 Row(Pays='France', 2005='9,6', 2006='9,3', 2007='10,2', 2008='11,2', 2009='12,2', 2010='12,7', 2011='(1) 12,7', 2012='13,4', 2013='14', 2014='14,6', 2015='15', 2016='15,7', 2017='16', 2018='16,6'),
 Row(Pays='Gr�ce', 2005='7,3', 2006='7,5', 2007='8,2', 2008='8,2', 2009='8,7', 2010='10,1', 2011='11,2', 2012='13,7', 2013='15,3', 2014='15,7', 2015='15,7', 2016='15,4', 2017='17', 2018='18'),
 Row(Pays='Hongrie', 2005='6,9', 2006='7,4', 2007='8,6', 2008='8,6', 2009='11,7', 2010='12,7', 2011='14', 2012='15,5', 2013='16,2', 2014='14,6', 2015='14,5', 2016='14,3', 2017='13,5', 2018='12,5'),
 Row(Pays='Irlande', 2005='2,8', 2006='3', 2007='3,5', 2008='3,9', 2009='5,2', 2010='5,7', 2011='6,6', 2012='7,1', 2013='7,6', 2014='8,6', 2015='9,1', 2016='9,3', 2017='10,6', 2018='11,1'),
 Row(Pays='Italie', 2005='7,5', 2006='8,3', 2007='9,8', 2008='11,5', 2009='12,8', 2010='13', 2011='12,9', 2012='15,4', 2013='16,7', 2014='17,1', 2015='17,5', 2016='17,4', 2017='18,3', 2018='17,8'),
 Row(Pays='Lettonie', 2005='32,3', 2006='31,1', 2007='29,6', 2008='29,8', 2009='34,3', 2010='30,4', 2011='33,5', 2012='35,7', 2013='37', 2014='38,6', 2015='37,5', 2016='37,1', 2017='39', 2018='40,3'),
 Row(Pays='Lituanie', 2005='16,8', 2006='16,9', 2007='16,5', 2008='17,8', 2009='19,8', 2010='19,6', 2011='19,9', 2012='21,4', 2013='22,7', 2014='23,6', 2015='25,8', 2016='25,6', 2017='26', 2018='24,4'),
 Row(Pays='Luxembourg', 2005='1,4', 2006='1,5', 2007='2,7', 2008='2,8', 2009='2,9', 2010='2,9', 2011='2,9', 2012='3,1', 2013='3,5', 2014='4,5', 2015='5,1', 2016='5,4', 2017='6,3', 2018='9,1'),
 Row(Pays='Malte', 2005='0,1', 2006='0,1', 2007='0,2', 2008='0,2', 2009='0,2', 2010='1', 2011='1,9', 2012='2,9', 2013='3,8', 2014='4,7', 2015='5,1', 2016='6,2', 2017='7,3', 2018='8'),
 Row(Pays='Pays-Bas', 2005='2,5', 2006='2,8', 2007='3,3', 2008='3,6', 2009='4,3', 2010='3,9', 2011='4,5', 2012='4,7', 2013='4,7', 2014='5,4', 2015='5,7', 2016='5,8', 2017='6,5', 2018='7,4'),
 Row(Pays='Pologne', 2005='6,9', 2006='6,9', 2007='6,9', 2008='7,7', 2009='8,7', 2010='9,3', 2011='10,3', 2012='10,9', 2013='11,4', 2014='11,5', 2015='11,7', 2016='11,3', 2017='11', 2018='11,3'),
 Row(Pays='Portugal', 2005='19,5', 2006='20,8', 2007='21,9', 2008='22,9', 2009='24,4', 2010='24,2', 2011='24,6', 2012='24,6', 2013='25,7', 2014='29,5', 2015='30,5', 2016='30,9', 2017='30,6', 2018='30,3'),
 Row(Pays='R�publique tch�que', 2005='7,1', 2006='7,4', 2007='7,9', 2008='8,7', 2009='10', 2010='10,5', 2011='10,9', 2012='12,8', 2013='13,9', 2014='15,1', 2015='15,1', 2016='14,9', 2017='14,8', 2018='15,2'),
 Row(Pays='Roumanie', 2005='17,6', 2006='17,1', 2007='18,2', 2008='20,2', 2009='22,2', 2010='22,8', 2011='21,2', 2012='22,8', 2013='23,9', 2014='24,8', 2015='24,8', 2016='25', 2017='24,5', 2018='23,9'),
 Row(Pays='Royaume-Uni', 2005='1,1', 2006='1,3', 2007='1,6', 2008='2,7', 2009='3,3', 2010='3,8', 2011='4,3', 2012='4,4', 2013='5,5', 2014='6,7', 2015='8,3', 2016='9', 2017='9,7', 2018='11'),
 Row(Pays='Slovaquie', 2005='6,4', 2006='6,6', 2007='7,8', 2008='7,7', 2009='9,4', 2010='9,1', 2011='10,3', 2012='10,5', 2013='10,1', 2014='11,7', 2015='12,9', 2016='12', 2017='11,5', 2018='11,9'),
 Row(Pays='Slov�nie', 2005='16', 2006='15,6', 2007='15,6', 2008='15', 2009='20,1', 2010='20,4', 2011='20,3', 2012='20,8', 2013='22,4', 2014='21,5', 2015='21,9', 2016='21,3', 2017='21,1', 2018='21,1'),
 Row(Pays='Su�de', 2005='40,7', 2006='42,4', 2007='43,9', 2008='44,7', 2009='47,9', 2010='47', 2011='48,2', 2012='50,2', 2013='50,8', 2014='51,9', 2015='53', 2016='53,4', 2017='54,2', 2018='54,6')]

In [34]:
df.printSchema()

root
 |-- Pays: string (nullable = true)
 |-- 2005: string (nullable = true)
 |-- 2006: string (nullable = true)
 |-- 2007: string (nullable = true)
 |-- 2008: string (nullable = true)
 |-- 2009: string (nullable = true)
 |-- 2010: string (nullable = true)
 |-- 2011: string (nullable = true)
 |-- 2012: string (nullable = true)
 |-- 2013: string (nullable = true)
 |-- 2014: string (nullable = true)
 |-- 2015: string (nullable = true)
 |-- 2016: string (nullable = true)
 |-- 2017: string (nullable = true)
 |-- 2018: string (nullable = true)

In [39]:
df.toPandas()

                  Pays  2005  2006  2007  2008  ...  2014  2015  2016  2017  2018
0            Allemagne   7,2   8,5  10,1  10,1  ...  14,4  14,9  14,9  15,5  16,5
1             Autriche  24,4  26,3  28,2  28,9  ...  33,7  33,5  33,4  33,1  33,4
2             Belgique   2,3   2,6   3,1   3,6  ...     8     8   8,7   9,1   9,4
3             Bulgarie   9,2   9,4   9,1  10,3  ...  18,1  18,3  18,8  18,7  20,5
4               Chypre   3,1   3,3     4   5,1  ...   9,2   9,9   9,9  10,5  13,9
5              Croatie  23,7  22,7  22,2    22  ...  27,8    29  28,3  27,3    28
6             Danemark    16  16,3  17,7  18,5  ...  29,3  30,8  31,8  34,7  35,7
7              Espagne   8,4   9,1   9,7  10,7  ...  16,1  16,2  17,4  17,6  17,5
8              Estonie  17,4    16    17  18,6  ...  26,1  28,2  28,7  29,1    30
9             Finlande  28,8  30,1  29,6  31,4  ...  38,8  39,3    39  40,9  41,2
10              France   9,6   9,3  10,2  11,2  ...  14,6    15  15,7    16  16,6
11               Gr�ce   7,3   7,5   8,2   8,2  ...  15,7  15,7  15,4    17    18
12             Hongrie   6,9   7,4   8,6   8,6  ...  14,6  14,5  14,3  13,5  12,5
13             Irlande   2,8     3   3,5   3,9  ...   8,6   9,1   9,3  10,6  11,1
14              Italie   7,5   8,3   9,8  11,5  ...  17,1  17,5  17,4  18,3  17,8
15            Lettonie  32,3  31,1  29,6  29,8  ...  38,6  37,5  37,1    39  40,3
16            Lituanie  16,8  16,9  16,5  17,8  ...  23,6  25,8  25,6    26  24,4
17          Luxembourg   1,4   1,5   2,7   2,8  ...   4,5   5,1   5,4   6,3   9,1
18               Malte   0,1   0,1   0,2   0,2  ...   4,7   5,1   6,2   7,3     8
19            Pays-Bas   2,5   2,8   3,3   3,6  ...   5,4   5,7   5,8   6,5   7,4
20             Pologne   6,9   6,9   6,9   7,7  ...  11,5  11,7  11,3    11  11,3
21            Portugal  19,5  20,8  21,9  22,9  ...  29,5  30,5  30,9  30,6  30,3
22  R�publique tch�que   7,1   7,4   7,9   8,7  ...  15,1  15,1  14,9  14,8  15,2
23            Roumanie  17,6  17,1  18,2  20,2  ...  24,8  24,8    25  24,5  23,9
24         Royaume-Uni   1,1   1,3   1,6   2,7  ...   6,7   8,3     9   9,7    11
25           Slovaquie   6,4   6,6   7,8   7,7  ...  11,7  12,9    12  11,5  11,9
26            Slov�nie    16  15,6  15,6    15  ...  21,5  21,9  21,3  21,1  21,1
27               Su�de  40,7  42,4  43,9  44,7  ...  51,9    53  53,4  54,2  54,6

[28 rows x 15 columns]